.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	font-family: 'Nunito';
	background: #303544;
	color: white;
	justify-content: center;

	/* Title */
	>h1 {
		font-size: 8rem;
	}

	/* Description */
	>p {
		font-size: 2rem;
		width: 50%;
		text-align: center;
		color: #D0DAFF;
	}

	/* Installation */
	>section {
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
		align-items: start;

		>div {
			display: flex;

			/* Installation types */
			>button {
				font-size: 1rem;
				padding-left: 1em;
				padding-right: 0.7em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				background-color: #282C34;
				color: white;
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
				display: flex;
				align-items: center;

				&.inactive {
					background-color: #191D29
				}

				/* Cargo icon */
				>img {
					width: 1.5rem;
					height: 1.5rem;
					margin-left: 0.5rem;
					pointer-events: none;

					&.windows {
						width: 2.5rem;
						height: 2.5rem;
					}
				}
			}
		}

		/* Installation Command */
		>code {
			font-family: "Consolas", 'Monospace';
			color: white;
			background: #282C34;
			padding: 1em;
			font-size: 1.5rem;
			border-radius: 1rem;
			border-top-left-radius: 0px;
			width: 40rem;
			position: relative;

			/* Copy Icon */
			>.copy-icon {
				pointer-events: none;
				width: 2rem;
				height: 2rem;
				background-image: url("https://static.thenounproject.com/png/361082-200.png");
				background-size: contain;
				position: absolute;
				top: 1rem;
				right: 1rem;
				filter: invert(100%) brightness(70%);
				cursor: pointer;
			}
		}
	}
}

.demo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito';
	height: 100vh;
	background-color: #3A4459;
	color: white;

	h2 {
		font-size: 7rem;
		padding-bottom: 2rem;
	}

	.demo-body {
		display: flex;
		padding-left: 10rem;
		padding-right: 10rem;
		gap: 5rem;
		align-items: center;

		>p {
			font-size: 1.75rem;
			position: relative;
			bottom: 3rem;
		}
	}
}